
.Container{
   
    align-items: center;
    font-family: Futura;
    background-color: rgb(250, 250, 250) !important;
    margin-top: 50px;
    margin-bottom: 200px;

}

h2 {
    text-align: center;
    font-family: Futura;
    margin-top: 15%;
}

.aboutParagraph {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    font-family: Futura;
    text-align: center;

}

.Card, .Card2, .Card3{
    width: 22%;
    margin-top: 10%;
    margin-left: 8%;
    /*margin-right: 1%;*/
    margin-bottom: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: Futura;

}

.Card4, .Card5{
    width: 22%;
    /*margin-right: 1%;*/
    margin-left: 18%;
    margin-bottom: 30px;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    font-family: Futura;

}

.card-title, .card-text, .button{
    text-align: center;
}



.button {
    margin-top: 30px;

}

@font-face {
    font-family: Futura;
    src: url(Futura\ Book\ font.ttf);
  }