.Nav {
    width: 40%;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: aqua;
    padding: 0 20px;
    height: 8%;
}

.NavLink.Active {
    color: red;
   


}

.NavLink:hover {
    color: tomato;
}

.NavLink {
    color: purple;
    text-decoration: none;
}