
.navBarContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    
}

.titleLogo {
    width: 300px;
    height: auto;
    /* position: fixed;
    top:0;
  */
}

.navBar {
    background-color: rgb(250, 250, 250);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Futura;
    justify-content: space-between;
    margin: 0 !important;

}

.menuItem {
    font-family: Futura !important;
    font-size: 20px;
}

.navMenuIcon {
    /* background-color: blue; */
    color: rgb(34, 32, 32);
    outline:none !important;

}

.topRightMenu {
    color: rgb(47, 20, 109) !important;
    outline:none !important;

}

.linksDiv {
    display: none;
    margin-bottom: 5px !important;
}

.navLink:hover {
    text-decoration: none ;
    border-top: royalblue;
    border-width: 3px;
    border-style: solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 2px;

}


@font-face {
    font-family: Futura;
    src: url(Futura\ Book\ font.ttf);
  }

  @media only screen and (min-width: 769px) {

    .navMenuIcon {
        display: none !important;
    }

    .topRightMenu {
        display: none !important;
    }

    .linksDiv {
        justify-content: space-evenly;
        font-family: Futura !important;
        display: flex;
        font-size: 20px !important;
        margin-top: 40px !important;
    }

    .titleLogo {
        width: 500px;
        height: auto;
        /* position: fixed;
        top:0;
      */
    }
   
    
  }