
.wholeTutorProfile {
    background-color: rgb(250, 250, 250);
    font-family: Futura !important;

}

.tutor-container{
    display: flex;
    /* align-content: center; */
    flex-direction: column;

}

.popupTitleTutor {
    font-family: Futura !important;
}


.tutor-information {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(32, 75, 124);
}

.nameInformation {
    font-size: 25px;
    display: flex;
}

.nameInformation span {
    font-family: Futura;
    font-weight: bold;
    font-size: 25px;
    /* letter-spacing: 1px; */
    padding-bottom: 0 !important;
    text-decoration: underline;
}

.tutorButtons {
    align-items: center !important;
    display: flex;
    
    padding-bottom: 60px;
 
}

.tutor-button{
   background-color: rgb(116, 118, 211) !important;
   font-family: Futura !important;
}

/* .edit-profile, .save-profile{
    margin-left: 10px !important;
    margin-right: 10px !important;
    
} */



.information {
    margin: 0;
    text-align: left !important;
}

.MuiTextField-root {
    margin: 0 0 20px 0 !important;
    font-family: Futura !important;
}



.tutor-content {
    /* margin-top: 50px; */
    justify-content: left;
    display: flex;
    flex-direction: column;
    font-family: Futura;

}

.tutor-description{
/* position: absolute; */
flex-wrap: wrap;
margin-top: 15px;
margin-bottom: 15px;
font-family: Futura !important;
}

.tutor-description textarea{
    font-family: Futura;
    margin-top: -10px;
    font-size: 20px;
    line-height: normal;
    height: 80px !important;
    width: 200px !important;
}

.descriptionTitle{
    font-size: 25px;
    margin-top: 20px;
    text-decoration: underline;
}

.leftSideTutor {
    display: flex;
    flex-direction: column;
    justify-content: left;
}



.upperhalfTutor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 60px;

}

.tutor-subject{
    display:flex;
    flex-direction: column;
    font-size: 20px;
    /* margin-top: 150px; */
    /* align-items: center; */
}

.subjectsTutoredTitle {
    font-size: 25px;
    font-family: Futura;
    font-weight: bold;
    text-decoration: underline;

}

.add-button{
    display:flex;
    /* flex-direction: column; */
    margin-top: 20px;
    align-items: center;
}

.tutorScheduleContainer {
    display:flex;
    flex-direction: column;
    /* margin-top: 100px;  */
    /* align-items: center;  */
    text-align: right; 
    font-family: Futura;
}

.tutorScheduleContainer label {
    font-size: 22px;
}

.tutorScheduleContainer input {
    font-family: Futura;
}

.scheduleTitle {
    font-size: 25px;
    font-family: Futura;
    font-weight: bold;
    text-decoration: underline;
}


.tutorSchedule {
    font-family: Futura !important;
    margin-bottom: 10px !important;
}

/* .scheduleDay {
    font-size: 20px !important;
} */

.appointmentTable {
    display: flex;
    flex-direction: column;
    align-items: center;
}