
.detailsDateContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    font-family: Futura !important;
}

.tutorDetailsTitle {
    padding-top: 50px;
    font-weight: bold;
    font-size: 40px;
}

.detailsRow {
    display: flex;
    justify-content: space-around;
    /* margin: 0 25% 0 25%; */
    padding-top: 40px;
}

.availabilityTitle {
    font-family: Futura Bold;
    font-size: 26px;
    letter-spacing: 0.5px;
    padding-top: 30px;
    text-decoration: underline;
}

.detailsRow li {
    font-size: 24px;
}


.detailsContainer {
    font-family: Futura;
    list-style: none !important;
    background-color: rgb(250, 250, 250);
    padding-left: 50px;
    text-align: left;
    /* width: 50%; */
}

.detailsContainer ul {
    padding: 0;
}

.detailsContainer li {
    list-style: none;
    inset: none;
    list-style: none;
}

div .datePicker input {
    text-align: right !important;
}

div.datePicker {
    display: flex;
    flex-direction: column;
    justify-content: right !important;
    padding-right: 50px;
    /* text-align: right; */
    padding-top: 40px;
}

.datePicker p {
    margin-bottom: 0;
}

.MuiGrid-spacing-xs-3 {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: right;
    justify-content: right !important;
    margin: 0 !important;


}

.MuiGrid-spacing-xs-3 label {
    text-align: right;
}

.MuiInputBase-root {
    font-family: Futura !important;
}

/* .MuiFormControl-root.makeStyles-formControl-4 {
    width: 300px !important;

} */

/* .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input {
    width: 400px !important;

} */

/*  */
/* .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 {
    text-align: right;
    display: flex;
    justify-content: right;
} */

div.MuiFormControl-root.makeStyles-formControl-24 {
    margin-top: 0;
    margin-bottom: 30px;
}

div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6 {
    /* width: 330px !important; */
    width: 400px !important;

    text-align: right;
    margin-bottom: 30px !important;
    padding-bottom: 0;
    align-self: flex-end;
    /* margin: 0 !important; */
    padding: 0;
}
/* 
div.MuiFormControl-root.MuiTextField-root.MuiFormControl-marginNormal {
    text-align: right !important;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl {
    text-align: right !important;
    width: 100%;
} */

.contactBookTutor {
    font-family: Futura Bold;
    font-size: 26px;
    letter-spacing: 0.5px;
}

.dateTimeColumn {
    display: flex;
    flex-direction: column;
}

div.bookButtonDetails {
    display: flex;
    align-self: flex-end !important;
    justify-content: right !important;
}

.alert-dialog-description {
    font-family: Futura !important;
}


.weekday {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.subjectPicker {
    font-family: Futura !important;
}

h4 {
    font-family: Futura !important;
}

h6 {
    font-family: Futura !important;
}

span .MuiIconButton-label {
    font-family: Futura !important;
}

p.MuiTypography-root.MuiTypography-body2.MuiTypography-colorInherit {
    font-family: Futura !important;
}

p.MuiTypography-root.MuiTypography-body1.MuiTypography-alignCenter {
    font-family: Futura !important;
}

span.MuiTypography-root.MuiPickersCalendarHeader-dayLabel.MuiTypography-caption {
    font-family: Futura !important;

}


@font-face {
    font-family: Futura;
    src: url(Futura\ Book\ font.ttf);
  }
