
.wholeTutorProfile {
    background-color: rgb(250, 250, 250);
    font-family: Futura !important;
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}

.tutor-container{
    display: flex;
    /* align-content: center; */
    flex-direction: column;

}

.popupTitleTutor {
    font-family: Futura !important;
}


.tutor-information {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(32, 75, 124);
}

.nameInformation {
    font-size: 22px;
    display: flex;
    
}

.nameInformation .nameBold {
    font-family: Futura;
    font-weight: bold;
    font-size: 22px;
    /* letter-spacing: 1px; */
    padding-bottom: 0 !important;
    /* text-decoration: underline; */
    /* font-family: Futura Bold; */
    letter-spacing: 0.5px;
}

input {
    font-family: Futura !important;
}

.nameInformation .nameReal {
    height: 100%;
    padding-top: 3px;
}

.tutorButtons {
    align-items: center !important;
    display: flex;
    align-self: center;
    justify-content: space-around;
    padding-bottom: 60px;
 
}

/* .topTutorButtons {
    margin-left: 10px;
    margin-right: 10px;
} */

.tutor-button{
   background-color: rgb(116, 118, 211) !important;
   font-family: Futura !important;
  
}

.tutorTopButtons {
    background-color: rgb(116, 118, 211) !important;
   font-family: Futura !important;
   margin-left: 10px !important;
   margin-right: 10px !important;
}
/* .edit-profile, .save-profile{
    margin-left: 10px !important;
    margin-right: 10px !important;
    
} */



.information {
    margin: 0;
    text-align: left !important;
}

/* .MuiTextField-root {
    margin: 0 0 20px 0 !important;
    font-family: Futura !important;
} */



.tutor-content {
    /* margin-top: 50px; */
    justify-content: left;
    display: flex;
    flex-direction: column;
    font-family: Futura;
    padding-left: 5%;

}

.tutor-content hr {
    width: 100%;
}

.tutor-description{
/* position: absolute; */
flex-wrap: wrap;
margin-top: 15px;
margin-bottom: 25px;
font-family: Futura !important;
}

.tutor-description textarea{
    font-family: Futura;
    margin-top: -10px;
    font-size: 20px;
    line-height: normal;
    width: 340px !important;
    padding-bottom: 10px;
}

.descriptionTitle{
    font-size: 35px;
    margin-top: 20px;
    text-decoration: underline;
    /* font-weight: bold; */
    font-family: Futura Bold;
    letter-spacing: 0.5px;

}

.leftSideTutor {
    display: flex;
    flex-direction: column;
    justify-content: left;
}



.upperhalfTutor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 60px;

}

.tutor-subject{
    display:flex;
    flex-direction: column;
    font-size: 20px;
    padding-left: 5%;
    /* margin-top: 150px; */
    /* align-items: center; */
}

.subjectsTutoredTitle {
    font-size: 35px;
    font-family: Futura Bold;
    /* font-weight: bold; */
    text-decoration: underline;
    letter-spacing: 0.5px;
}

.tutorSubjectsBox {
    height: 100%;
    /* overflow: scroll; */

}

.add-button{
    display:flex;
    /* flex-direction: column; */
    margin-top: 20px;
    align-items: center;
}

h2.MuiTypography-root {
    font-family: Futura;
}

span.MuiButton-label {
    font-family: Futura;
}

.tutorScheduleContainer {
    display:flex;
    flex-direction: column;
    align-self: left;
    /* margin-top: 100px;  */
    /* align-items: center;  */
    text-align: left; 
    font-family: Futura;
    padding-left: 5%;
}

.tutorScheduleContainer label {
    font-size: 22px;
    text-align: left;
    padding-left: 5%;
}

.tutorScheduleContainer input {
    font-family: Futura;
    text-align: left;
    font-size: 24px;
    padding: 2px;
}

.scheduleTitle {
    font-size: 35px;
    font-family: Futura Bold;
    /* font-weight: bold; */
    text-decoration: underline;
    margin-bottom: 35px;
    letter-spacing: 0.5px;
    /* padding-left: 5%; */
    padding-top: 50px;
    /* text-align: center; */

}

/* form.makeStyles-root-7 label{
    font-size: 20px;
} */


.tutorSchedule {
    font-family: Futura !important;
    margin-bottom: 10px !important;
}

p.weekdayP {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 25px;
    text-align: left;
    margin-right: 0 !important;
}

/* .scheduleDay {
    font-size: 20px !important;
} */

.appointment-title-tutor {
    padding-bottom: 30px;
}

.appointmentTable {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 860px) {
    .upperhalfTutor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 60px;
    
    }
    .tutor-content {
        /* margin-top: 50px; */
        justify-content: left;
        display: flex;
        flex-direction: column;
        font-family: Futura;
    
    }

    .tutor-subject{
        display:flex;
        flex-direction: column;
        font-size: 20px;
        /* margin-top: 150px; */
        /* align-items: center; */
    }

    .tutorScheduleContainer {
        display:flex;
        flex-direction: column;
        /* margin-top: 100px;  */
        /* align-items: center;  */
        text-align: right; 
        font-family: Futura;
    }

    .scheduleTitle {
       
        padding-top: 0px;
    
    }

    .tutorScheduleContainer input {
        font-family: Futura;
        text-align: right;
        font-size: 18px;
    }

    p.weekdayP {
       
        text-align: right;
       
    }
    }
