


.detailsDateContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    font-family: Futura !important;
    padding-bottom: 30px;
    align-items: center;
}

.tutorDetailsEmail {
    font-size: 18px;
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tutorDetailsTitle {
    padding-top: 20px;
    font-weight: bold;
    font-size: 30px;
}

.detailsRow {
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    /* margin: 0 25% 0 25%; */
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 30px;

    width: 100%;
    padding-bottom: 50px;
}

.availabilityTitle {
    font-family: Futura Bold;
    font-size: 22px;
    letter-spacing: 0.5px;
    /* padding-top: 10px; */
    text-decoration: underline;
    /* font-weight: 1000; */
}

.detailsRow li {
    font-size: 18px;
}


.detailsContainer {
    display: flex;
    flex-direction: column;
    font-family: Futura;
    list-style: none !important;
    background-color: rgb(250, 250, 250);
    /* padding-left: 15px; */
    text-align: left;
    /* width: 50%; */
    height: 100%;
    justify-content: space-evenly;
}

.detailsContainer ul {
    padding: 0;
}

.detailsContainer li {
    list-style: none;
    inset: none;
    list-style: none;
}

div .datePicker input {
    text-align: right !important;
    font-size: 18px;
}

.bookLessonTitle {
    font-family: Futura Bold;
    font-size: 22px !important;
    letter-spacing: 0.5px;
    text-decoration: underline;
    padding-top: 0px;
    align-self: flex-end;
    margin-right: -25px;
    margin-top: 0px !important;
}

div.datePicker {
    display: flex;
    flex-direction: column;
    justify-content: right !important;
    margin-right: 20px;
    /* text-align: right; */
    padding-top: 0px !important;
    width: 50%;
}

div.datePicker div.MuiControl-root.makeStyles-formControl-20 {
    margin-right: 15px !important;
}

.datePicker p {
    margin-bottom: 6px;
    font-size: 20px;
    /* font-weight: bold; */
}

.MuiGrid-spacing-xs-3 {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: right;
    justify-content: right !important; 
    margin: 0 !important;


} 

/* .MuiGrid-spacing-xs-3 label {
    text-align: right;
} */

.MuiInputBase-root {
    font-family: Futura !important;
}

div.datePicker div.MuiFormControl-root.makeStyles-formControl-4 {
    padding-right: 15px !important;

} 

div.datePicker div.MuiFormControl-root.makeStyles-formControl-23 {
    padding-right: 15px !important;

} 

/* .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiInputBase-input.MuiInput-input {
    width: 400px !important;

} */

/*  */
/* .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 {
    text-align: right;
    display: flex;
    justify-content: right;
} */

div.MuiFormControl-root.makeStyles-formControl-24 {
    margin-top: 0;
    margin-bottom: 30px;
}
/* this is messing up the register page below */
div.datePicker div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6 {
    width: 330px !important; 
    display: flex;
    flex-direction: column;
    width: 150px !important;
    text-align: right;
    margin-bottom: 30px !important;
    padding-bottom: 0;
    align-self: flex-end;
    /* margin: 0 !important;  */
    padding: 0;
} 
/* 
div.MuiFormControl-root.MuiTextField-root.MuiFormControl-marginNormal {
    text-align: right !important;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl {
    text-align: right !important;
    width: 100%;
} */

.contactBookTutor {
    font-family: Futura Bold;
    font-size: 22px;
    letter-spacing: 0.5px;
    text-decoration: underline;
}

.dateTimeColumn {
    display: flex;
    flex-direction: column;
}

/* .bookButtonDiv {
    display: flex !important;
    flex-direction: row;
    align-items: right !important;
    justify-content: right !important;
    text-align: right;
    width: 100%;
    
} */
/* 
button.bookButtonDetails {
    align-self: right !important;
    margin-right: -10px !important;
    width: 100px !important;
    margin-left: 50%;
    position: absolute;
    bottom: -20px;
    right: 20px ; 
    font-size: 18px; 
} */

/* button.bookButtonDetails {
    align-self: right !important;
    margin-right: -10px !important;
    width: 100px !important;
    position: absolute;        
    bottom: -300px;
    right: 20% !important;
    font-size: 18px;
}  */

/* .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
    align-self: flex-end !important;
    margin-left: 430px; 
    width: 100px !important;

}   */

/* .datePicker button {
    width: 200px !important;
} */

.alert-dialog-description {
    font-family: Futura !important;
}


.weekday {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.weekdayName {
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.5px;
    font-size: 16px;    
}

.subjectPicker {
    font-family: Futura !important;
}

h4 {
    font-family: Futura !important;
}

h6 {
    font-family: Futura !important;
}

span .MuiIconButton-label {
    font-family: Futura !important;
}

p.MuiTypography-root.MuiTypography-body2.MuiTypography-colorInherit {
    font-family: Futura !important;
}

p.MuiTypography-root.MuiTypography-body1.MuiTypography-alignCenter {
    font-family: Futura !important;
}

span.MuiTypography-root.MuiPickersCalendarHeader-dayLabel.MuiTypography-caption {
    font-family: Futura !important;

}


@font-face {
    font-family: Futura;
    src: url(Futura\ Book\ font.ttf);
  }

  .newWorkingButton {
      width: 120px;
      position: sticky;
      align-self: flex-end;
      margin-right: -20px !important;
      margin-top: -15px !important;
  }





  @media only screen and (min-width: 769px) {
    .detailsRow {
        display: flex;
        justify-content: center;
        padding-left: 20px;
        padding-bottom: 50px;
        width: 70%;

    }

    .weekday {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }

    .weekdayName {
        font-size: 20px;
    }

    div.datePicker {
        padding-top: 50px;
    }

    div.datePicker p {
        font-size: 18px;
        /* font-weight: bold; */
    }

    .availabilityTitle {
        font-size: 25px;
    }


    button.bookButtonDetails {
        align-self: right !important;
        margin-right: -10px !important;
        width: 100px !important;
        position: absolute;        
        bottom: -400px;
        right: 24% !important;
        font-size: 18px;
    }  

    .purpleBack {
        display: flex;
        flex-direction: row;
    }

    .bookLessonTitle {
        /* padding-top: 40px; */
        font-size: 25px !important;

    }  
    .tutorDetailsTitle {
        padding-top: 50px;
    }

    .detailsRow li {
        margin-bottom: 50px;
    }

    
}

/* @media only screen and (min-width: 1025px) {
    button.bookButtonDetails {
       
        bottom: -235px;
        right: 20% ;
    }

} */