
.homeContainer {
  align-items: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.registerButton {
  background-color: royalblue !important;
  font-family: Futura !important;
  border-radius: 10px !important;
}

@font-face {
  font-family: Futura;
  src: url(./styles/Futura\ Book\ font.ttf);
}